@tailwind base;
@tailwind components;
@tailwind utilities;

.confetti-bg {
  background-image: radial-gradient(circle, #303030 1px, transparent 1px);
  background-size: 40px 40px;
  opacity: 0.05;
}

.form-select-icon {
  background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuBkRnRx9EhuyHXzs3dSm6b89jsfU3nkJrrWIsvE4x5qUU0AE96owAxkMctSSJR8H-TXZqv0XP0J6sGrxfZc7t0GxozHQKo_NpXdu7BWvbaRMC9z5W_OIsZ2KK2l14Sp2oUIqvCww-zWg2FagqXxAwb9YCHliNx37bhJ8MwFm9F0GiWqZjPSbsFImC3cZ7yAN75LcW3Tgvv8ZkxifFhy9cX0da6jBBqOlLmD4uGAx1O87V2dc2hMynKDafSQp-c3soghPZmJvNJWKQ);
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

body {
  font-family: 'Inter', sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
}

